.contact_us_size.contact_us_size.contact_us_size{
    line-height: 7.429em;
   height: auto;
//    padding: 1.429em 1em;
        padding: 0;
   .contact_top,.contact_bot{
       overflow: hidden;

      .b50{
          .contact_box{
              display: inline-block;
              vertical-align: middle;
              line-height: 4.571em;
              padding: 0 0 0 2.929em;
          }
          .line_wrap{
            display: inline-block;
            line-height: 100%;
            vertical-align: middle;
            margin-left: 1.5em;
              p{
                line-height: 2;
                font-size: 1.1em;
              }
          }
          .right_box{
            position: absolute;
            top: 50%;
            right: 3em;
            transform: translateY(-50%);
              .c_cube{
               text-align: center;
                vertical-align: middle;
                height: 2.286em;
                width: 4.929em;
                background: linear-gradient(to bottom,#ffffff 0%,#d5daef 100%);
                border-radius: 8px;
                border: 1px solid #495cc5;
                cursor: pointer;
                p{
                    line-height: 2.286em;
                    color: #4d515d;
                }
              }
          }
      }
       i{
           &.med_i{
               width: 2.857em;
               height: 2.857em;
               background: url(../image/my/media_icon.png)no-repeat;
               background-size: 300%;
               vertical-align: middle;
               display: inline-block;
               @for $i from 1 through 3{
                   &.i#{$i}{
                       background-position-x: ($i - 1) * -2.857em;
                   }
               }
           }
       }
   }
   .contact_top{
    position: relative;
    &:before{
        content: '';
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 1px;
        width: calc(100% - 3.858em);
        background: #b9c0d2;
        position: absolute;
    }
   }
}
.contact_us_reply.contact_us_reply.contact_us_reply{
    
    .b_name{
        line-height: 2.143em;
        .right_box{
            .time{
                margin: 0;
            }
        }
    }
    .save_type{
        padding: 0.929em 1.357em;
        .reply_p{
            color: #2d43b6;
            margin-top: 1em;
            line-height: 1.5;
        }
    }
}