.online_talk_box{
    background: #fafafa;
    height: 10em;
    margin: -.8em 0 0;
    padding: .8em 0 0;
    .time_tag{
        text-align: center;
        color: #838ba0;
        font-size:1em;
        margin: 1.286em 0;
    }
}